@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.logo {
  width: 100px;
  height: auto;
}

.dashboard {
  width: 500px;
  height: auto;
}

.logo-text {
  color: #7E1CFE;
}

.logo-img {
  margin-right: 2rem; /* adjust the value to move the logo image further away */
}

.card-title::after {
  content: "";
  display: block;
  width: 20%;
  height: 3px;
  background-color: #7E1CFE;
  margin-top: 4px;
  margin-right: 2px;
}

